<h1><%= @user.username %></h1>
<%= @user.email %>

<% if @user == current_user %>
  <p id="user-actions">
    <%= link_to 'Edit Account', edit_user_path(@user) %> | 
    <%= link_to 'Delete Account', user_path(@user), method: :delete, data: {confirm: "Really delete your account?"} %>
  </p>
<% end %>
