<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= game.name %>
    </h3>
  </div>
  <div class="panel-body">
    <%= game.description.truncate(100) %>
  </div>
</div>
